.card {
  background: var(--white);
  border-radius: 10px;
  padding: 50px 30px;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px #4445;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  height: 30rem;
}

.content {
  font-size: 1.7rem;
}

.icon,
.heading,
.content {
  position: relative;
  z-index: 5;
  transition: all 0.5s;
}

.icon {
  width: 40px;
  fill: var(--blue);
  margin-bottom: 20px;
}

.heading {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.number {
  position: absolute;
  top: -90px;
  right: -85px;
  padding: 80px 100px 30px 30px;
  background: var(--blue);
  border-radius: 100%;
  z-index: 5;
}

.number .text {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}

.text {
  margin-top: 20px;
}

.card:hover {
  scale: 1.02;
  box-shadow: 0 5px 20px #444e;
}

.card:hover .icon,
.card:hover .heading,
.card:hover .content {
  color: #f5f5f5;
  fill: #f5f5f5;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--white);
  z-index: 1;
  transition: all 0.3s ease;
}

.card:hover::after {
  background: var(--blue);
  color: var(--white);
  transform: scale(1.05);
}
