.carousel-container {
  overflow: hidden;
  background-color: var(--lightgray);
  padding: 1rem;
  white-space: nowrap;
}

.carousel-track {
  display: inline-block;
  animation: scroll-left 40s linear infinite;
}

.carousel-item {
  display: inline-block;
  margin-right: 3rem;
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--gray);
}


@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
