/* Hero.css */
.hero {
  height: 42rem;
  width: 100%;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  width: 90%;
}



.hero-content .blur-text {
  text-align: center;
  font-size: 7rem;
  font-weight: bold;
}
.hero-content .blur-text-content {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}
.hero-content .blur-text-description {
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 3.2rem;
}

/* BUTTON */

.btn-53 {
  margin: 0 auto;
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
  line-height: 1.5;
}

.btn-53 {
  border: 2px solid var(--white);
  border-radius: 5rem;
  box-sizing: border-box;
  display: block;
  font-weight: 600;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
}

.btn-53 .original {
  background: #fff;
  color: var(--blue);
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53:hover .original {
  transform: translateY(100%);
}

.btn-53 .letters {
  display: inline-flex;
}

.btn-53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-53 span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-53:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-53:hover span:nth-child(6) {
  transition-delay: 0.5s;
}
