.how-to-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3.2rem;
  background-color: var(--blue);
  padding-bottom: 3.2rem;
}

.title {
  font-weight: bold;
  margin-bottom: 3rem;
  text-align: center;
  color: var(--white);
}

.steps-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  width: 90%;
  max-width: 120rem;
}

@media (min-width: 768px) {
  .steps-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .last-step {
  grid-column: span 3 / span 3;
  text-align: center;
}
}



.step-card {
  border-radius: 1.2rem;
  padding: 1.5rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 0;
  transform: translateY(30px);
}

.step-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
}

.hidden-card {
  opacity: 0;
  transform: translateY(30px);
}

.show-card {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.step-number {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--blue);
  margin-bottom: 0.5rem;
}

.step-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.step-description {
  font-size: 1.7rem;
  line-height: 1.5;
}
