

:root {
  --gray: #3c3c3d;
  --grayClear: #ccc;
  --lightgray: #f2f2f2;
  --white: #fff;
  --blue: #2596be;
  --white: #fff;
  --transparent: rgba(255, 255, 255, 0.3);
  --primaria: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* GLOBALES */

body {
  font-family: var(--primaria);
  color: var(--gray);
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.8rem;
}

img {
  max-width: 100%;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}


/*  BUTTON  */

.button {
  background-color: var(--white);
  color: var(--blue);
  border: none;
  padding: 1.5rem 3rem;
  border-radius: 2rem;
  font-size: 1.6rem;
  transition: all 0.3s ease-in-out;
}
